# RSNA EDA for mapping segmentations files with patient series

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os

### Exploring train meta csv

In [3]:
metadata_path = "D:/Downloads/rsna-2023-abdominal-trauma-detection/train_series_meta.csv"

In [4]:
train_metadata = pd.read_csv(metadata_path)
train_metadata.head()

   patient_id  series_id  aortic_hu  incomplete_organ
0       10004      21057     146.00                 0
1       10004      51033     454.75                 0
2       10005      18667     187.00                 0
3       10007      47578     329.00                 0
4       10026      29700     327.00                 0

In [5]:
train_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4711 entries, 0 to 4710
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   patient_id        4711 non-null   int64
 1   series_id         4711 non-null   int64
 2   aortic_hu         4711 non-null   float64
 3   incomplete_organ  4711 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 147.3 KB

In [8]:
patients = train_metadata["patient_id"].unique()
len(patients)

3147

**So all patients are present in this meta csv**

Counting the amount of series for each patient:

In [12]:
patient_series = train_metadata[["patient_id", "series_id"]].groupby("patient_id").count()
patient_series.head()

            series_id
patient_id
19                  1
26                  2
33                  1
43                  2
96                  1

In [15]:
patient_series.describe()

         series_id
count  3147.000000
mean      1.496981
std       0.500070
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       2.000000

Maximum number of series per patient = **2**

### Explore segmentations folder to match through series_id

In [16]:
segmentations_path = "D:/Downloads/rsna-2023-abdominal-trauma-detection/segmentations"

segmentations = os.listdir(segmentations_path)
len(segmentations)

206

Only 206 segmentations

In [21]:
series = train_metadata["series_id"].tolist()

In [23]:
len(series)

4711

In [42]:
matched_series = []

for segmentation in segmentations:
    if segmentation in series:
        print("series & segmentation match")
        matched_series.append(segmentation)
    else:
        pass

In [43]:
matched_patients = []
patients = train_metadata["patient_id"].unique().tolist()

for patient in patients:
    if patient in segmentations:
        print("patients & segmentation match")
        matched_patients.append(patient)
    else:
        pass

In [44]:
matched_patients

[]